<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    
    <body class="is-preload">
      <!-- Wrapper -->
        <div id="wrapper">
  
          <!-- Header -->
            <header id="header">
              <div class="inner">
  
                <!-- Nav -->
                  <nav class="navbar-inverse">
                    <ul>
                      <li><a href="#menu">Menu</a></li>
                    </ul>
                  </nav>
  
              </div>
            </header>
  
          <!-- Menu -->
            <nav id="menu">
              <h2>Menu</h2>
              <ul>
                <li><%= link_to 'ONE', pages_one_path %></li> <!--pages hace referencia a pages/index.html  -->
                <li><%= link_to 'TWO', pages_two_path %></li> <!--pages hace referencia a pages/about.html  -->
                <li><%= link_to 'THREE', pages_three_path %></li>
              </ul>
            </nav>

          <!-- Main -->
            <div id="main">
              <div class="inner">
                <%= yield %>
              </div>
            </div>
  
          <!-- Footer -->
            <footer id="footer">
              <div class="inner">
                <ul class="copyright">
                  <li>&copy; Untitled. All rights reserved</li>
                </ul>
              </div>
            </footer>
  
        </div>
    
  
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  
</html>
